images {  
	position: relative;
	float: right;
	display: block;
	padding: 0 0 $padding-bottom*2 0;
	overflow-x: hidden; 


	@include breakpoint('small') {
		width: $width-s;
		margin: $margin-s;
		float: clear;
		margin-top: $small-top-padding/2;
		padding: $small-top-padding/2 $margin-content 0 0;
	}
	@include breakpoint('medium') {
		width: (1/5) * 100% - $margin-content*2;  
		float: left;
		padding: 0;
		margin: 0 $margin-content;
		margin-top: $small-top-padding;
	}
	@include breakpoint('large') {
		width: (1/6) * 100% - $margin-content*2; 
		float: right;
		margin: 0 $margin-content;
		padding: 0;
	}
}


.side-image {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	background-color: $support-color;
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
	clear: both;
}


// .side-image {
// 	display: none;
// }

.side-image-container {
	float: left;
	position: relative;
	display: block;
	width: 100%;
	min-height: 10px;
	height: auto;
	margin: 0 0 60px 0;
	
}

.image-print {
	display: none;
}


.image-filter {
	mix-blend-mode: multiply;
	-webkit-filter: grayscale(1);
	 filter: grayscale(1);
}

.image-grey {
	-webkit-filter: grayscale(1);
	 filter: grayscale(1);
}

.image-text {
	font-family: 'Source Serif Pro';
	color: $light-grey;
	font-size: $ref-txt-m;

}